<div
  id="custom-cursor"
  class="ph-light text-primary-500 ph-arrow-up-left text-8xl fixed pointer-events-none z-10 translate-x-[-50%] translate-y-[-50%] rounded-none transition-transform scale-0 duration-300 ease-in-out"
>
</div>
