<div
  id="custom-cursor"
  class="hidden lg:block ph-light text-secondary-500 ph-arrow-up-left text-8xl fixed lg:pointer-events-none z-[500] translate-x-[-50%] translate-y-[-50%] rounded-none transition-transform scale-0 duration-300 ease-in-out"
>
</div>
