---
const { platform, username, position = "header" } = Astro.props;
---

<a
  id="my-social-link"
  class="text-xl lg:text-2xl rounded-full font-medium flex items-center gap-1.5 justify-center group"
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
>
  <i
    class={`ph-${
      position === "header" ? "fill" : "light"
    } ph-${platform}-logo transition-colors duration-500 ease-in-out group-hover:text-primary-600`}
  ></i>

  {/* Show span only if position is 'header' */}
  {
    position === "header" && (
      <span class="text-caption--xs group-hover:text-primary-600 duration-500 ease-in-out transition-colors">
        {platform}
      </span>
    )
  }
</a>
