---
const {
  platformDisplayName,
  platform,
  platformDomain = "com",
  username,
  position = "header",
  platformIcon,
} = Astro.props;
---

<a
  id="my-social-link"
  class="text-xl lg:text-2xl rounded-full font-medium flex items-center gap-1.5 justify-center group"
  href={`https://www.${platform}.${platformDomain}/${username}`}
  target="_blank"
>
  <i
    +
    class={`ph-${position === "header" ? "fill" : "light"} ph-${
      platformIcon ? platformIcon : platform
    }-logo transition-colors duration-500 ease-in-out group-hover:text-primary-600`}
  ></i>

  {
    position === "header" && (
      <span class="text-caption--xs group-hover:text-primary-600 duration-500 ease-in-out transition-colors">
        {platformDisplayName ? platformDisplayName : platform}
      </span>
    )
  }
</a>
