---
const { tagTitle } = Astro.props;
---

<a
  class="flex items-center justify-center px-3 py-1 text-sm capitalize transition-colors border rounded-sm border-black/30 dark:border-white/30 dark:text-white/75 text-black/75 whitespace-nowrap hover:border-transparent hover:bg-black dark:hover:bg-white dark:hover:text-black hover:text-white"
  href={`/category/${tagTitle}`}
>
  {tagTitle}
</a>
