---
const { tagTitle } = Astro.props;
---

<a
  class="border border-black/30 text-black/75 text-xs md:text-sm py-1 px-3 flex items-center justify-center capitalize rounded-sm whitespace-nowrap hover:border-transparent hover:bg-black hover:text-white transition-colors"
  href={`/category/${tagTitle}`}
>
  {tagTitle}
</a>
