---
const { header, orientation = "vertical" } = Astro.props;
const pathName = Astro.url.pathname;
const currentPageClasses = `relative text-primary-600 flex items-center after:absolute after:bg-primary-600 after:animate-spin_slow after:ml-4 hover:text-primary-600 ${
  orientation === "vertical"
    ? "after:top-50% after:right-0 after:w-2 after:h-2"
    : "after:-left-8 after:top-50% after:w-1.5 after:h-1.5 font-medium ml-4"
}`;
const notCurrentPageClasses = `relative hover:text-primary-600 flex items-center transition-all
${
  orientation === "vertical"
    ? "after:transition-all after:absolute after:right-0 after:ml-4 after:h-2 after:w-2 after:scale-0 after:rounded-sm"
    : ""
}
${header === true ? "after:bg-black/30" : "after:bg-white/30"}`;
---

<nav
  class={`flex ${
    header === true
      ? orientation === "vertical"
        ? "flex-col gap-6 text-3xl"
        : "flex-row gap-6 text-3xl"
      : orientation === "vertical"
      ? "flex-col gap-3"
      : "flex-row gap-3 md:gap-6 lg:gap-8"
  }`}
>
  <a
    id="menu-link"
    href="/"
    class={pathName === "/" ? currentPageClasses : notCurrentPageClasses}
    >Home</a
  >
  <a
    id="menu-link"
    href="/portfolio/"
    class={pathName.includes("/portfolio/")
      ? currentPageClasses
      : notCurrentPageClasses}>Portfolio</a
  >
  <a
    id="menu-link"
    href="/contact/"
    class={pathName === "/contact/"
      ? currentPageClasses
      : notCurrentPageClasses}>Contact</a
  >
</nav>

<script>
  const links = document.querySelectorAll("#menu-link");

  links.forEach((link) => {
    link.addEventListener("mouseenter", () => {
      link.classList.add("hover:after:scale-100");
      link.classList.remove("hover:after:scale-0");
    });

    link.addEventListener("mouseleave", () => {
      link.classList.add("hover:after:scale-0");
      link.classList.remove("hover:after:scale-100");
    });
  });
</script>
