---
import Logo from "../atoms/Logo.astro";
import Navigation from "../molecules/Navigation.astro";
import MySocialLink from "../atoms/MySocialLink.astro";

const year = new Date().getFullYear();
const colorMode = "dark";
---

<footer id="footer" class=`py-8 text-white bg-black`>
  <div class="container flex flex-col gap-8">
    <div class="flex flex-col gap-8">
      <Logo />
      <div class="flex flex-col gap-6">
        <div
          class=`w-full pb-3 border-b text-caption--xs border-white/30 text-white/50`
        >
          Navigatiemenu
        </div>
        <Navigation />
      </div>
      <div class="flex flex-col gap-6">
        <div
          class=`w-full pb-3 border-b text-caption--xs border-white/30 text-white/50`
        >
          Mijn socials
        </div>
        <div class="flex flex-wrap items-center gap-4">
          <MySocialLink platform="linkedin" username="tomgraafmans" />
          <MySocialLink platform="dribbble" username="varvino" />
          <MySocialLink platform="behance" username="tomgraafmans" />
          <MySocialLink platform="github" username="xarxino" />
        </div>
      </div>
    </div>
    <div
      class=`flex flex-col items-center gap-4 text-xs text-center md:text-sm text-white/50`
    >
      <p>© {year} — Tom Graafmans. Alle rechten voorbehouden.</p>
      <a href="#" class="underline">Privacybeleid</a>
    </div>
  </div>
</footer>
