---
import Logo from "../atoms/Logo.astro";
import Navigation from "../molecules/Navigation.astro";
import MySocialLink from "../atoms/MySocialLink.astro";

const year = new Date().getFullYear();
---

<footer id="footer" class=`py-8 md:py-16 xl:py-24 2xl:py-28 text-white bg-black`>
  <div class="container flex flex-col gap-8 md:gap-10 lg:gap-12 2xl:gap-20">
    <div
      class="flex flex-col md:flex-row md:flex-wrap md:justify-between gap-8"
    >
      <div class="md:flex-1">
        <Logo />
      </div>
      <div class="flex flex-col gap-6 md:flex-1">
        <div
          class=`w-full pb-3 border-b text-caption--xs border-white/10 text-white/50 md:hidden`
        >
          Navigatiemenu
        </div>
        <div class="flex md:justify-center">
          <Navigation orientation="horizontal" />
        </div>
      </div>
      <div class="flex flex-col gap-6 md:flex-1">
        <div
          class=`w-full pb-3 border-b text-caption--xs border-white/10 text-white/50 md:hidden`
        >
          Mijn socials
        </div>
        <div class="flex flex-wrap items-center gap-4 md:flex-nowrap md:justify-end">
          <MySocialLink
            position="footer"
            platform="linkedin"
            username="tomgraafmans"
          />
          <MySocialLink
            position="footer"
            platform="dribbble"
            username="varvino"
          />
          <MySocialLink
            position="footer"
            platform="behance"
            username="tomgraafmans"
          />
          <MySocialLink
            position="footer"
            platform="github"
            username="xarxino"
          />
        </div>
      </div>
    </div>
    <div
      class=`flex flex-col items-center gap-4 text-xs text-center md:text-sm text-white/50 border-t border-white/10 pt-4`
    >
      © {year} — Tom Graafmans. Alle rechten voorbehouden.
    </div>
  </div>
</footer>
