@import url(https://fonts.bunny.net/css?family=eb-garamond:400,500,600);

@font-face {
  font-family: "Satoshi";
  src: url("../fonts/satoshi.ttf") format("truetype");
  font-weight: 100 900;
}

body {
  font-size: clamp(1rem, 1vw, 1.125rem);
  @apply font-normal leading-relaxed font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: clamp(-0.025em, -0.05vw, -0.05em);
  @apply font-normal leading-tight font-heading;
}

h1,
.text-h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

h2,
.text-h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3,
.text-h3 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

h4,
.text-h4 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

h5,
.text-h5 {
  @apply text-lg md:text-xl lg:text-2xl;
}

h6,
.text-h6 {
  @apply text-base md:text-lg lg:text-xl;
}

.text-caption--xs {
  font-size: clamp(0.625rem, 1vw, 0.75rem);
  @apply font-semibold tracking-widest uppercase;
}

.text-caption--sm {
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  @apply font-semibold tracking-widest uppercase;
}

.text-caption--md {
  font-size: clamp(0.875rem, 1vw, 1rem);
  @apply font-semibold tracking-widest uppercase;
}

.button {
  font-size: clamp(1rem, 1vw, 1.25rem);
  @apply flex items-center justify-center gap-2 px-6 py-4 font-medium leading-none transition-colors duration-200 ease-in-out;
}

.button--primary {
  @apply text-white button bg-primary-600 hover:bg-black;
}

.button--white {
  @apply text-black bg-white button hover:bg-black hover:text-white;
}

.button-outlined {
  @apply text-black border border-black button hover:bg-black hover:text-white;
}

.button-outlined--white {
  @apply text-white border border-white button hover:bg-black hover:text-white hover:border-transparent;
}

.capitalize-first-letter::first-letter {
  @apply capitalize;
}

/* Apply column spans for a 2-column grid layout */
.project-preview {
  @apply md:col-span-6;
}

/* Every first item should have minimum heights (rectangle) */
.project-preview:nth-of-type(6n + 1) img,
.project-preview:nth-of-type(6n + 5) img {
  @apply md:min-h-[40rem] lg:min-h-[60rem] xl:min-h-[70rem];
}

/* Every second and fourth item should be a square image */
.project-preview:nth-of-type(6n + 2) img,
.project-preview:nth-of-type(6n + 4) img {
  @apply md:aspect-square;
}

/* Every third item spans 12 columns and its image should be aspect-video */
.project-preview:nth-of-type(6n + 3),
.project-preview:nth-of-type(6n + 6) {
  @apply md:col-span-12;
}

/* Every third item should be a square image */
.project-preview:nth-of-type(6n + 3) img,
.project-preview:nth-of-type(6n + 6) img {
  @apply aspect-video;
}