@import url(https://fonts.bunny.net/css?family=eb-garamond:500,600);

body {
  font-size: clamp(1rem, 1vw, 1.125rem);
  @apply font-normal leading-relaxed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: clamp(-0.025em, -0.05vw, -0.05em);
  @apply font-medium font-heading leading-tight;
}

h1,
.text-h1 {
  @apply text-4xl md:text-5xl lg:text-6xl;
}

h2,
.text-h2 {
  @apply text-3xl md:text-4xl lg:text-5xl;
}

h3,
.text-h3 {
  @apply text-2xl md:text-3xl lg:text-4xl;
}

h4,
.text-h4 {
  @apply text-xl md:text-2xl lg:text-3xl;
}

h5,
.text-h5 {
  @apply text-lg md:text-xl lg:text-2xl;
}

h6,
.text-h6 {
  @apply text-base md:text-lg lg:text-xl;
}

.text-caption--xs {
  font-size: clamp(0.625rem, 1vw, 0.75rem);
  @apply font-semibold uppercase tracking-widest;
}

.text-caption--sm {
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  @apply font-semibold uppercase tracking-widest;
}

.text-caption--md {
  font-size: clamp(0.875rem, 1vw, 1rem);
  @apply font-semibold uppercase tracking-widest;
}

.button {
  font-size: clamp(1rem, 1vw, 1.25rem);
  @apply font-medium leading-none py-4 px-6 transition-colors duration-200 ease-in-out flex items-center justify-center gap-2;
}

.button--primary {
  @apply button bg-primary-600 text-white hover:bg-black;
}

.button--white {
  @apply button bg-white text-black hover:bg-black hover:text-white;
}

.button-outlined {
  @apply button border border-black text-black hover:bg-black hover:text-white;
}

.button-outlined--white {
  @apply button border border-white text-white hover:bg-black hover:text-white hover:border-transparent;
}

.capitalize-first-letter::first-letter {
  @apply capitalize;
}
