---
import Head from "../components/organisms/Head.astro";
import Header from "../components/organisms/Header.astro";
import Footer from "../components/organisms/Footer.astro";
import "../assets/styles/main.css";

// Vendor imports
import "@phosphor-icons/web/light";
import "@phosphor-icons/web/regular";
import "@phosphor-icons/web/bold";
import "@phosphor-icons/web/fill";

const description = "Developer & Designer";
const permalink = new URL("./", import.meta.url).toString();
const { pageTitle = description, pageType } = Astro.props;
let title = `Tom Graafmans • ${pageTitle}`;
---

<!doctype html>
<html lang="en" class=`${pageType === "project" ? "dark:bg-black dark:text-white" : ""}`>
  <Head {title} {description} {permalink} />
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <script>
      import Lenis from "@studio-freight/lenis";
      const lenis = new Lenis();

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
    <Footer />
  </body>
</html>
